* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fafafa;
}

.logo {
  font: 700 24px sans-serif;
  color: #000000;
}

.logo span {
  color: #0000FF;
}

.logo-alt span {
  color: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: #0000FF;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0000FF;

  position: absolute;
  left: 0;
  bottom: -16px;

  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav.show ul.grid {
  gap: 64px;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

main {
  margin-top: 72px;
}
html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px sans-serif;
  color: #000000;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 30px sans-serif;
  color: #000000;
  font-size: 36px;
}

.title-alt {
  font: 500 20px sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

.produto {
  width: 300px;
}

.produto-alt {
  width: 350px;
}

.section {
  padding: 32px 0;
}

.section .title {
  margin-bottom: 16px;
}

nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

nav .menu ul {
  display: flex;
  gap: 32px;
}

nav .menu ul a.title {
  font: 400 16px sans-serif;
}

nav .icon-menu {
  display: none;
}
.section header {
 max-width: 512px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.section .subtitle {
  font-size: 16px;
  color: #000000;
}

.card {
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 550px;
  padding: 32px;
}

.card-alt {
  width: 100%;
  height: 1000px;
}

.button {
  width: 30%;
  margin-left: 245px;
  background-color: #0000FF;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 32px;
  font: 500 16px sans-serif;
  transform: background 0.3s;
}

.button-alt {
  width: 30%;
  background-color: #0000FF;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.button-margin {
  margin-top: 50px;
}

.button:hover {
  background: #000066;
}

#home .container {
  margin: 0 auto;
}

#home .text {
  margin-left: 24px;
  margin-right: 24px;
  max-width: 384px;
  text-align: left;
}

#home .text h1 {
  margin-bottom: 16px;
}

#home .text p {
  margin-bottom: 32px;
}

#home .image {
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
}

#formulario {
  position: relative;
  margin: 0 auto;
}
fieldset {
  padding: 16px;
  font-size: 18px;
  width: 70%;
}
footer {
  background: #0000FF;
}

footer .container {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  color: #000000;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 40px;
}

footer .brand p {
  color: #fafafa;
  margin-bottom: 12px;
}

footer.section {
  padding: 60px 0;
}
